@import '~bootstrap/scss/bootstrap.scss';

$pageBackground: #ffffff;
$textColor: #000000;
$transperentGrey: rgba(129, 128, 128, 0.4);
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$danger: $red-500;
$HEADER_HEIGHT: 55px;
$FOOTER_HEIGHT: 35px;
$gray900: $gray-900;
$blueLinkColor: #00AAFF;
$secondaryText: #C0C0C0;