@import '~bootstrap/scss/bootstrap.scss';

$sideBackground: #f7f7f7;
$pageBackground: #ffffff;
$textColor: #000000;
$transperentGrey: rgba(129, 128, 128, 0.4);
$primary: #00AAFF;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red-500;
$HEADER_HEIGHT: 55px;
$FOOTER_HEIGHT: 35px;
$disabled: #6c757d;
$gray900: $gray-900;
$grayBackground: #fafbfc;
$blackLinkColor:#424242;
$blueLinkColor: #00AAFF;
$secondaryTextColor:#929292;
$smokeGray: #F9FAFB;
$antiFlashWhite: #F2F2F2;
$iconColorGray: #a4aab0;
$secondaryText: #C0C0C0;