@import '../../../styles/varaiable';

 .labelText {
    font-weight: 700;
    color: $white;
  }
  .iconBtnRoot {
    background: none;
    border: none !important;
    &:hover  {
      background: none;
      border: none;
    }
  }
 

