@import "../../../styles/varaiable";
.notfound {
    width: 100%;
    min-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

.infoText {
    align-self: center;
    margin-left: 20px;
    text-align: center;
}

.infoText > h2{
    margin: 0;
}

